body {
  margin: 0; /* Remove default body margin */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Make the body take the full viewport height */
}