/* styles.css */

.container {
  display: grid;
  grid-gap: 20px;
}

.contentContainer {
  padding: 0;
}

.threeSceneContainer {
  width: 100%; /* Take full width of its parent */
  overflow: hidden; /* Prevent overflow */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: x-large;
  margin-bottom: 8px; /* Add margin below the title */
}

.titlePartOne {
  color: white;
}

.titlePartTwo {
  color: grey;
}

.inputContainer {
  margin-top: 8px; /* Add margin above the input container */
  display: flex;
}

.inputField {
  margin-right: 8px;
}
.dateSelector {
  margin-left: 8px; /* Adjust margin as needed */
}


/* TODO: 
- add tablet and desktop styles
- No need to implement vertical scroll for phone
- change the string methids for identifying devices
- add calendar
- add loading screen

*/