.mobileText {
    display: block;
}

.nonMobileText {
    display: none;
}

@media screen and (min-width: 768px) {
    .mobileText {
        display: none;
    }

    .nonMobileText {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
}